body,html,#root {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
 font-family: 'Libre Baskerville', serif;
 background-color: #f1fefe;
 font-size: 12px;
}
*{
  margin: 0;
  padding: 0;
}

/* ============================
  Header
=============================== */
.header-wrapper {
  height: 10vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0px;
}
.header-wrapper .header-left {
  display: flex;
  align-items: center;
  gap: .9rem;
}
.header-left img {
  height: 5rem;
  width: 5rem;
}
.header-left h2 {
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.header-right a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
.header-right .active {
  border-bottom: 2px solid #374b5c ;
  padding-bottom: 4px;
}
.header-right button {
  font-weight: normal;
  font-size: 1.2rem;
  border: 2px solid #00dbd0;
  padding: .8rem 1.2rem;
  border-radius: .9rem;
  color: #374b5c;
  background-color: white;
}

/* ============================
  Hero
=============================== */
.hero-wrapper {
  display: flex;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  gap: 0px;
}
.hero-wrapper .left {
padding: 1.8rem;
color: #374b5c;
width: 40%;
letter-spacing: normal;
font-stretch: normal;
}
.hero-wrapper .left h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-wrapper .left h1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: .9rem;
}
.hero-wrapper .left p {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2.5rem 0px;
}
.hero-wrapper .left button {
  padding: 1.9rem 3.2rem;
  border-radius: 10px;
  background-color: #00dbd0;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
.hero-wrapper .right {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0px;
}
.hero-wrapper .right img:nth-child(1) {
    padding: 2rem;
    border: 2px solid #00dbd0;
    height: 28rem;
}
.hero-wrapper .right img:nth-child(2) {
  position: absolute;
  height: 48rem;
  left: 0px;
}
/* ============================
  Featured
=============================== */

.featured-wrapper {
  display: flex;
  gap: 4.1rem;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  color: #374b5c;
}
.featured-wrapper .nature,.present {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.4rem;
  margin: 1.4rem 0px;
}
.featured-wrapper .top {
  width: 58rem;
  margin: 0 auto;
}
 .featured-wrapper .top h3 {
   margin: 1.4rem 0px;
   font-size: 3rem;
   font-weight: normal;
 }
 .featured-wrapper .top p{
   font-size: 1.3rem;
 }
 .featured-wrapper .bottom {
  display: flex;
  gap: 2rem;
  margin: 1.4rem 0px;
  justify-content: space-between;
 }
 .nature .bottom img{
   height: 15rem;
   width: 15rem;
 }
 .present .bottom img{
  height: 12rem;
  width: 12rem;
 }
 .pagination{
  display: flex;
  justify-content: center;
  gap: .9rem;
}
 .pagination span {
   height: 5px;
   width: 5px;
   padding: 2px 2px;
   border-radius: 100%;
   background-color: black;
 }
 .pagination span:nth-child(2){
  background-color: #00dbd0;
 }
 
/* ============================
  Testimonial
=============================== */

 .testimonial-contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
    color:#374b5c;
    align-items: center;
    gap : 10rem;
 }
 .testimonial-contact-wrapper div:nth-child(1) img {
  position: absolute;
  left: -45%;
}
.testimonial {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.testimonial img:nth-child(1) {
  height: 5.5rem;
  width: 5.5rem;
  margin: 10px 0px;
}
.testimonial img:nth-child(2) {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
}

.testimonial span {
  display: flex;
  gap: 10px;
}
.subtitle {
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #374b5c
}
.testimonial .pagination span:nth-child(1) {
  background-color: #374b5c;
}
.testimonial .pagination span {
  background-color: white;
  border: 1px solid #374b5c;
}
/* ============================
  Newsletter
=============================== */
.newsletter {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  justify-content: center;
}
.newsletter h3 {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.33;
   ;
}
.newsletter p {
  margin: 2rem 0
}
.newsletter form{
  display: flex;
  justify-content: center;
}
.newsletter form input {
  width: 23rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}
.newsletter form button {
  padding: 1.1rem 2rem;
  border-radius: 2.3rem;
  background-color: #00dbd0;
  border: none;
  color: white;
}
/* ============================
  Blog
=============================== */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 5.7rem;
  margin: 0 auto;
  text-align: center;
  color: #374b5c;
}
.blog-wrapper .top {
  margin: 1.8rem 5.6rem;
  padding: 0px 20px;
  width: 55rem;
  margin: 0 auto;
}
.blog-wrapper .top h3 {
  margin: 1.8rem 0px;
}
.blog-wrapper .top p {
  line-height: 1.8rem;
  font-size: 1.3rem;
}
.blog-wrapper .bottom {
  display: flex;
  gap: 5.5rem;
}
.blog-wrapper .bottom span img {
  height: 14rem;
  width: 19rem;
  border-radius: 20px 20px 0px 0px;
}
.blog-wrapper .bottom h4 {
  font-size: 1.4rem;
  color: #00dbd0;
  margin-top: 10px;
}
.blog-wrapper .bottom p {
  font-size: 1rem;
  color: #374b5c;
  line-height: 1.46;
  margin: 10px 0px;
}

/* ============================
  Footer
=============================== */
.footer-wrapper {
  background-image: url("./Image/footer.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 20vh;
   padding: 4.5rem 0px;
   margin-top: 3.5rem;
   font-size: 1rem;
}
.footer-wrapper .container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 85vw;
  padding-top: 1.8rem;
  margin: 0 auto;
}
.container .logo {
  
  color: white;
}
.logo p {
  width: 17rem;
  margin: 1.8rem 0px;
}
.nfo p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: white;
}
.container .nfo span {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.container .nfo span a {
  text-decoration: none;
  color: white;
}
.container .follow p {
  color: white;
  font-size: 1.8rem;
}
.container .follow span {
  display: flex;
  gap: 1.2rem;
  height: 1.8rem;
  width: 1.8rem;
  margin: 1.8rem 0px;
}
/* ============================
  Media Queries
=============================== */
@media(max-width:480px) {
  html,body,#root {
    font-size: 5px;
  }
  .header-wrapper {
    width: 90vw;
  }
  .testimonial-contact-wrapper div:nth-child(1) img{
    height: 400px;
    left: -80%;
  }
  .hero-wrapper {
    width: 90vw;
    height: 50vh;
  }
  .blog-wrapper {
   width: 100vw
  }
  .featured-wrapper {
    width: 95vw;
  }
}