body,html,#root {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
 font-family: 'Libre Baskerville', serif;
 background-color: #f1fefe;
}
*{
  margin: 0;
  padding: 0;
}

/* ============================
  Header
=============================== */
.header-wrapper{
  height: 10vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 0px;
}
.header-wrapper .header-left{
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-left img{
  height: 52px;
  width: 52px;
}
.header-left h2{
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
.header-right{
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-right a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #374b5c;
}
.header-right .active{
  border-bottom: 2px solid #374b5c ;
  padding-bottom: 4px;
}
.header-right button{
  font-weight: normal;
  font-size: 16px;
  border: 2px solid #00dbd0;
  padding: 8px 16px;
  border-radius: 10px;
  color: #374b5c;
  background-color: white;
}

/* ============================
  Hero
=============================== */
.hero-wrapper{
  display: flex;
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  gap: 0px;
}
.hero-wrapper .left{
padding: 20px;
color: #374b5c;
width: 40%;
letter-spacing: normal;
font-stretch: normal;
}
.hero-wrapper .left h3{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-wrapper .left h1{
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-wrapper .left p{
  font-size: 18px;
  font-weight: normal;
  margin: 30px 0px;
}
.hero-wrapper .left button{
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #00dbd0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.hero-wrapper .right{
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0px;
}
.hero-wrapper .right img:nth-child(1){
   padding: 20px;
    border: 2px solid #00dbd0;
    height: 300px;
}
.hero-wrapper .right img:nth-child(2){
  position: absolute;
  height: 500px;
  left: 0px;
}
/* ============================
  Featured
=============================== */

.featured-wrapper{
  display: flex;
  gap: 50px;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  color: #374b5c;
}
.featured-wrapper .nature,.present{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin: 20px 0px;
}
.featured-wrapper .top{
  width: 600px;
  margin: 0 auto;
}
 .featured-wrapper .top h3{
   margin: 20px 0px;
   font-size: 36px;
   font-weight: normal;
 }
 .featured-wrapper .top p{
   font-size: small;
 }
 .featured-wrapper .bottom{
  display: flex;
  gap: 30px;
  margin: 20px 0px;
  justify-content: space-between;
 }
 .pagination{
  display: flex;
  justify-content: center;
  gap: 10px;
}
 .pagination span{
   height: 5px;
   width: 5px;
   padding: 2px 2px;
   border-radius: 100%;
   background-color: black;
 }
 .pagination span:nth-child(2){
  background-color: #00dbd0;
 }
 
/* ============================
  Testimonial
=============================== */

 .testimonial-contact-wrapper{
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 1fr 1fr;
    margin-top: 60px;
    color:#374b5c;
 }
 .testimonial-contact-wrapper div:nth-child(1){
   grid-row: 1/3;
 }
 .testimonial-contact-wrapper div:nth-child(1) img{
  position: relative;
  right: 150%;
}
.testimonial{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.testimonial img:nth-child(1){
  height: 60px;
  width: 60px;
  margin: 10px 0px;
}
.testimonial img:nth-child(2){
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.testimonial p:nth-child(1){
  font-size: 26px;
  letter-spacing: normal;
}
.testimonial span{
  display: flex;
  gap: 10px;
}
.subtitle{
  font-size: 13px;
  line-height: 40px;
  color: #374b5c
}
.testimonial .pagination span:nth-child(1){
  background-color: #374b5c;
}
.testimonial .pagination span{
  background-color: white;
  border: 1px solid #374b5c;
}
/* ============================
  Newsletter
=============================== */
.newsletter{
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  justify-content: center;
}
.newsletter h3{
  font-weight: normal;
  font-size: 30px;
  line-height: 1.33;

}
.newsletter p {
  font-size: 13px;
  margin: 30px 0px;
  line-height: 25px;
}
.newsletter form{
  display: flex;
  justify-content: center;
}
.newsletter form input{
  width: 250px;
  padding: 10px;
  border: none;
  background-color:transparent;
  outline: none;
}
.newsletter form button{
  padding: 15px 26px;
  border-radius: 30px;
  background-color: #00dbd0;
  border: none;
  color: white;
}
/* ============================
  Blog
=============================== */

.blog-wrapper{
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 60px;
  margin: 0 auto;
  text-align: center;
  color: #374b5c;
}
.blog-wrapper .top{
  margin: 20px 60px;
  padding: 0px 20px;
  width: 550px;
  margin: 0 auto;
}
.blog-wrapper .top h3{
  margin: 20px 0px;
}
.blog-wrapper .top p{
  line-height: 20px;
  font-size: 14px;
}
.blog-wrapper .bottom{
  display: flex;
  gap: 60px;
}
.blog-wrapper .bottom span img{
  height: 150px;
  width: 200px;
  border-radius: 20px 20px 0px 0px;
}
.blog-wrapper .bottom h4{
  font-size: 18px;
  color: #00dbd0;
  margin-top: 10px;
}
.blog-wrapper .bottom p{
  font-size: 12px;
  color: #374b5c;
  line-height: 1.46;
  margin: 10px 0px;
}

/* ============================
  Footer
=============================== */
.footer-wrapper{
  background-image: url("./Image/footer.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 20vh;
   padding: 50px 0px;
   margin-top: 40px;
   font-size: 12px
}
.footer-wrapper .container{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 85vw;
  padding-top: 20px;
  margin: 0 auto;
}
.container .logo{
  width: 300px;
  color: white;
}
.logo p{
  margin: 20px 0px;
}
.nfo p {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
}
.container .nfo span{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.container .nfo span a {
  text-decoration: none;
  color: white;
}
.container .follow p {
  color: white;
  font-size: 20px;
}
.container .follow span{
  display: flex;
  gap: 15px;
  height: 20px;
  width: 20px;
  margin: 20px 0px;
}